################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/bin/Debug//netcoreapp2.1
*.cache
*.dll
*.exe
*.pdb
*.lock
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
*.ide
*.ide-shm
*.ide-wal


TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/.vs

/obj/Debug/netcoreapp2.1/Razor/Views/Billing
/obj/Release/netcoreapp2.1/Razor/Views
/obj/Debug/netcoreapp2.1/Razor/Views/Manage
/bin/Release/netcoreapp2.1
/obj/Release/netcoreapp2.1
/Deflamel/Deflamel.Web/bin
/Deflamel/Deflamel.Web/obj
/Deflamel/Deflamel.Domain/bin
/Deflamel/Deflamel.Domain/obj
/Deflamel/Deflamel.Infrastructure/bin
/Deflamel/Deflamel.Infrastructure/obj
/Deflamel/Deflamel.Settings
/Deflamel/Deflamel.Network
/Deflamel/Deflamel.Admin/bin/Debug/netcoreapp3.1
/Deflamel/Deflamel.Admin/obj/Debug/netcoreapp3.1


.idea/
*.iml
